/*Scatterplot CSS */
body {
    ffont-family: 'Raleway', sans-serif;
  }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

#svg_scatterplot_graph {
  display: table;
  margin: 0 auto;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
