/*Index CSS*/

body{
	padding-top: 90px;
}

#content{
	padding-right: 200px;
	padding-left: 200px;
}

body h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
	font-weight:bolder;
}

body h2{
	text-align: center;
    font-family: 'Raleway', sans-serif;
	font-weight:bolder;
}

body h3{
    font-family: 'Raleway', sans-serif;
}

body h4{
	text-align: center;
    font-family: 'Raleway', sans-serif;
}

body p{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

body #intro_head{
	text-align:center; 
	font-weight: bolder;
	font-size: 24px;
}

body #caption{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

